.allProjetctsRectangle {
  background: url("../../images/image3.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
}

.projectsHeader {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  margin-right: 5%;
  justify-content: space-between;
  padding-top: 1%;
  margin-bottom: 2%;
}

.add-projects {
  padding: 1%;
  margin-left: 60%;
  width: fit-content;
}
.list-projects{

}

.projectsListUL {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
