.rectangule-recoverPassword {
  width: 55vh;
  height: 70vh;
  margin: auto;
  background: rgba(255, 253, 253, 0.5);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.logoCritical {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 120px;
  max-height: 120px;
}

.RecoverPassword {
  font-family: "Poppins", sans-serif;
  display: flex;
  background: url("../../images/image1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  align-items: center;
  height: 100vh;
}




.recoverPasswordTextSuccess {
  text-align: center;
  margin-top: 10%;
  border: 3px solid #650909;
  border-radius: 12px;
  width: 20em;
  margin-left: 10%;
}

.recoverPasswordTextError{
    text-align: center;

    border: 3px solid #650909;
    border-radius: 12px;
    width: 20em;
    margin-left: 10%;
}


.formDiv-recoverPassword {
  margin-top: 5%;
}

.formRecoverPassword {
  display: flex;
  flex-direction: column;
}

.input-recover {
  font-style: normal;
  margin: 2% 8% 4% 8%;
  width: 80%;
  height: 6%;
  font-size: 100%;
  background: transparent;
  padding: 2%;
  border-radius: 0.5em;
  border: 2px solid gray;
}

.text {
  margin-top: 7%;
}
