.rectanguleResetPassword {
  width: 55vh;
  height: 80vh;
  margin: auto;
  background: rgba(255, 253, 253, 0.5);
  border-radius: 20px;
}

.logoCritical {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 120px;
  max-height: 120px;
}

.ResetPassword {
  font-family: "Poppins", sans-serif;
  display: flex;
  background: url("../../images/image1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formDiv-resetPassword {
  margin-top: 5%;
}

.formResetPassword {
  display: flex;
  flex-direction: column;
}

.input-reset {
  font-style: normal;
  /*margin: 3% 15% 4% 15%;*/
  margin-top: 3%;
  margin-bottom: 4%;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 6%;
  font-size: 100%;
  background: transparent;
  padding: 2%;
  border-radius: 0.5em;
  border: 2px solid gray;
}

.resetPasswordDIV {
  align-self: center;
  text-align: center;
  margin-top: 15%;
  border: 3px solid #650909;
  border-radius: 12px;
  width: 20em;
  margin-left: 15%;
}


.password-messageErroreResetPassword{
  padding: 6px;
padding-left: 25px;
border-radius: 10px;
font-weight: 600;
background-color: #c11723;
color: #fff;
margin: 5% 5% -2% 5%;}

.password-messageResetPassword{
  padding: 6px;
padding-left: 25px;
border-radius: 10px;
font-weight: 600;
background-color: #c11723;
color: #fff;
margin: 1% 5% -5% 5%;}

.password-messageResetPassword{
  color: black;
  background-color: transparent;

}
.resetButton{
  margin-top: 4%;
}

