.rectangule {
    width: 55vh;
    height: 70vh;
    margin: auto;
    background: rgba(255, 253, 253, 0.5);
    border-radius: 20px;
  }

.logoCritical {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 120px;
    max-height: 120px;
}

.ValidateAccount{
    font-family: "Poppins", sans-serif;
    display: flex;
    background: url("../../images/image1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    align-items: center;
    height: 100vh;
}

.text{
    margin-top: 7%;
  }