.rectangleNotification {
  display: inline;
  background-color: #9ea1a9d5;
  width: 400px;
  height: 100vh;
  z-index: 3;
  position: fixed;
  right: 0em;
  top: 3.1em;
  overflow: scroll;
}

.ulNotifications{

    padding: 20px;
}