.allIdeaNecessity {
    background-image: url("../../images/image2.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    height: fit-content;
}

.header-allIdeaNecessity{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 5%;
    justify-content: space-between;
    padding-top: 1%;
}

.list-allIdeaNecessity{
    height: 35em;
    overflow: auto;
}

.no-allIdeaNecessity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}