.alert-danger {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alert-info {
    padding: 20px;
    background-color: #47A8F5;
    color: white;
}
.alert-success {
    padding: 20px;
    background-color: #2FB986;
    color: white;
}

.alert-warning {
    padding: 20px;
    background-color: #FFAA2C;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

