.ChangePassword {
  display: flex;
  background: url("../../images/image3.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  align-items: center;
  height: 100vh;
}

.ChangePasswordRectangle {
  width: 100vh;
  height: 80vh;
  margin: auto;
  background: #eee7e78f;
  border-radius: 20px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.formChangePassword {
  display: flex;
  margin-top: -5%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.label-changePassword {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  font-weight: 800;

  margin-top: 2%;
  margin-bottom: -2%;
  color: #000000;
}

.input-changePassword {
  font-family: "Poppins";
  font-style: normal;
  border: none;
  margin: auto;
  width: 30%;
  height: 10%;
  font-size: 1.2rem;
  background: transparent;
  /* border: none;*/
  color: rgba(44, 41, 41, 0.8);
  border: 1px solid rgb(138, 5, 5);
  border-bottom: 1.2px solid gray;

  padding: 1%;
  background-color: #fff;
  border-radius: 0.2em;
}

.input-changePassword::placeholder {
  font-size: 0.65em;
}

.buttonDivChangePassword {
  margin-left: 50%;
  width: 30em;
}

.matchingPasswordErrorDIV {
  width: fit-content;
  padding: 0.5em;
  border-radius: 20px;
  border: 2px solid #791a1f;
  margin-left: 35%;
  margin-top: 2%;
  margin-bottom: -5%;
}

.DIVSuccess{
  margin-top: 20%;
  align-items: center;
  text-align: center;
}
.spanPasswordSuccess,.spanPasswordSuccessLink{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 100%;
  text-align: center;
margin-top: 5%;


}

.spanPasswordSuccessLink{
  color:#852b30 ;}


  .password-messageChangePassword,.password-messageErroreChangePassword{
    margin-top: 6%;
    width: 60%;
    text-align: start;
    margin-left: 20%;
    padding: 6px;
    padding-left: 25px;
    border-radius: 10px;
    font-weight: 600; 
}


  .password-messageErroreChangePassword{
    background-color: #791a1f;


    color: #fff
  }